<h1>Log in to MakersBNB</h1>
<span><%=flash[:notice]%></span>
<form class="text" action="/login" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <input type="submit" name="Login" value="Login">
</form>
