<span><%=flash[:notice]%></span>
<form action="/signup" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password"  placeholder="password">
  <input type="password" name="password_confirmation"  placeholder="confirm password">
  <input type="submit" name="sign_up" value="Sign up">
</form>
